<%= simple_form_for(@services_request, url: services_request_index_path, remote: boolean) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: 'Nombre' %>
    <%= f.input :lastname, label: false, placeholder: 'Apellido'  %>
    <%= f.input :phone, label: false, placeholder: 'Teléfono'  %>
    <%= f.input :email, type: :email, label: false, placeholder: 'Correo'  %>
    <%= f.input :details, type: :text, label: false, placeholder: 'Algún detalle que nos quieras decir'  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , "Solicitar servicios", class: 'pull-right' %>
  </div>
<% end %>
